.HeaderGroup {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 40px;
  /* align-items: center; */
  max-width: 1130px;
  margin: 0 auto;
}

.HeaderGroup a:hover {
  color: #0000ff;
}

.HeaderGroup a:focus {
  color: #0000ff;
}

.HeaderGroup a:active {
  color: #0000ff;
}

.SiteTitle {
  font-weight: 900;
  font-size: 24px;
  color: #10051d25;
  text-decoration: none;
  padding-left: 24px;
}

.SiteNav {
  display: inline-block;
  padding: 30px 0;
}

.SiteNav a {
  color: #10051d;
  text-decoration: none;
  /* border-bottom: 2px solid #10051d60; */
  font-size: 15px;
  font-weight: 500;
  margin: 0 24px;
}

@media only screen and (max-width: 800px) {
  .HeaderGroup {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 480px) {
  .HeaderGroup {
    grid-template-columns: 1fr;
    justify-items: left;
    margin-top: 20px;
  }

  .SiteTitle {
    padding-left: 0;
  }

  .SiteNav {
    padding-top: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
  }

  .SiteNav a {
    margin-left: 0;
    text-decoration: underline;
  }
}

/* .SiteTitle {
  font-weight: 900;
  font-size: 24px;
  color: #10051d25;
  text-decoration: none;
  padding-left: 32px;
}

.HeaderGroup {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 40px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.HeaderGroup a:hover {
  color: #0000ff;
}

.SiteNav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0;
}

.SiteNav a {
  color: #10051d;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 40px;
}

.SiteNav a:hover {
  color: #0000ff;
} */
