@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

html,
body {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #10051d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@keyframes EnterAnimation {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.BodyContainer {
  max-width: 680px;
  margin: 40px auto;
  padding: 40px 40px;
  opacity: 0;
  animation: EnterAnimation 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.TextContent h3 {
  font-size: 23px;
  line-height: 33px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.TextContent .HeroItalic {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #ff4040;
  margin-bottom: 0;
}

.TextContent .HeroMassive {
  font-size: 88px;
  line-height: 80px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: -4px;
  letter-spacing: -0.01em;
}

.TextContent .HeroSeparator {
  height: 6px;
  width: 40px;
  background-color: #ff4040;
  margin-bottom: 60px;
}

.TextContent .SummaryBlock {
  background-color: #f2f2f2;
  padding: 16px 20px;
  margin: 20px 0;
  border-left: 6px solid #ddd;
}

.TextContent a {
  text-decoration: underline;
  color: inherit;
}

.TextContent a:hover {
  color: #0040ff;
  background: #f2f2f2;
}

.WritingSection .SectionTitle {
  text-transform: uppercase;
  color: #10051d56;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* for mobile devices */

@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .BodyContainer {
    padding: 0 20px 80px;
  }

  .TextContent h3 {
    font-size: 20px;
    line-height: 29px;
  }

  .TextContent .HeroMassive {
    font-size: 68px;
    line-height: 64px;
  }

  .TextContent .HeroItalic {
    font-size: 14px;
  }

  .TextContent .SummaryBlock {
    padding: 12px 16px;
    margin: 16px 0;
  }
}
