body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
  color: #09051d;
  line-height: 30px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1000px;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

.TextContent {
  max-width: 680px;
  margin: 40px auto 0 auto;
  padding: 40px 40px;
}

.TextContent h3 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.TextContent a {
  text-decoration: underline;
  color: inherit;
}

.TextContent a:hover {
  color: #0000ff;
  background: #f1f1f1;
}

.WritingSection {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 40px 120px 40px;
}

.WritingSection .SectionTitle {
  text-transform: uppercase;
  color: #09051d60;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 20px;
}
