body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #10051d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 100vw; */
  text-rendering: optimizeLegibility;
}

@keyframes EnterAnimation {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.BodyContainer {
  opacity: 0;
  animation: EnterAnimation 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.TextContent {
  max-width: 680px;
  margin: 40px auto 0 auto;
  padding: 40px 40px;
}

.TextContent h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

/* .TextContent h3 {
  font-size: 19px;
  line-height: 30px;
  font-weight: 900;
} */

.TextContent a {
  text-decoration: underline;
  color: inherit;
}

.TextContent a:hover {
  color: #0000ff;
  background: #f1f1f1;
}

.WritingSection {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 40px 120px 40px;
}

.WritingSection .SectionTitle {
  text-transform: uppercase;
  color: #09051d60;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 20px;
}
