.WorkContainer {
  /* max-width: 800px; */
  max-width: 680px;
  margin: 40px auto;
  padding: 40px 40px;
  animation: EnterAnimation 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.SectionHeading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #09051d56;
  font-size: 12px;
  font-weight: 700;
  margin-top: 80px;
}

.WorkHighlight {
  font-size: 23px;
  line-height: 33px;
  font-weight: 800;
  margin-bottom: 8px;
  letter-spacing: -0.01em;
}

.WorkText {
  color: #10051d94;
  margin-top: 8px;
}

.CardImage {
  width: 100%;
  height: auto;
}

.ImageBorder {
  border: solid 1px #10051d10;
}

.WorkSection {
  margin-top: 40px;
  margin-bottom: 80px;
}

.ImageHalfGrid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.TallImage {
  grid-row: span 2;
}

.BottomRightImage {
  align-self: end;
}

/* for mobile devices */

@media only screen and (max-width: 480px) {
  .WorkContainer {
    padding: 40px 20px;
  }

  .WorkHighlight {
    font-size: 20px;
    line-height: 25px;
  }
}
