.Writing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.Writing h3 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
}

.Writing a {
  text-decoration: none;
  color: inherit;
}

.Writing a:hover {
  color: #0000ff;
  background: #f1f1f1;
}

.Writing p {
  margin-top: 0;
  color: #10051d90;
  line-height: 26px;
}
